*{
    object-fit: cover;
}
.row {
    --bs-gutter-x: 0;
}

.section_left, .section_right {
    background: #101010;
    width: 20%;
}
.section_right{
    width: 15%;
}
/* SECTION CENTER */
.section_center {
    background: #363636;
    width: 65%;
}
.card{
    background-image: linear-gradient(to top, #000000, #808080);
    background-size: 100% 100%;
}
/* SECTION CENTER */
.controls {
    height: 10%;
    width: 100%;
    background: #363636;
    position: fixed;
    bottom: 0;
    border-top: 1px solid black;
}